.header {
    
    text-align: center;
    padding: 2rem;
    background-color: "$color-header";

    section {
        justify-content: center;
        align-items: center;
    }
}

h1 {
    padding-top: 2rem;
    bottom: 1rem;
}